<ul class="nav sidebar-nav" role="tablist" aria-multiselectable="false">
  <div class="mob-profile visible-xs visible-sm">
   
  </div>
  <!-- <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
    <a [routerLink]="['/dashboard']"> <i class="brick"></i>Dashboard </a>
  </li> -->
  





  <mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="favoriteSeason">
  <mat-radio-button class="example-radio-button" *ngFor="let option of data" [value]="option">
    {{ option.title }}
  </mat-radio-button>
</mat-radio-group>

  
  <hr
    class="break-line"
    style="border-color: #dbdbdb;margin-bottom: 10px;"
    class="visible-xs visible-sm"
  />
  <li
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="visible-xs visible-sm"
  >
    <a [routerLink]="['/login']" (click)="onLogout()">
      <i class="brick"></i>Logout
    </a>
  </li>
</ul>
